<h1 data-localize="pkgs_title">Packages</h1>

<table
	id="table-packages"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th data-field="name" data-sortable="true">
				<span data-localize="pkgs_name" >Name</span>
			</th>
			<th>
				<span data-localize="pkgs_ver" >Version</span>
			</th>
			<th>
				<span data-localize="pkgs_desc" >Description</span>
			</th>
		</tr>
	</thead>
	<tbody>
{%-for pkg in site.data.packages-%}
		<tr>
			<td><a href="{{ '/packages/' | append: pkg.name | relative_url }}">{{ pkg.name }}</a></td>
			<td>{{ pkg.version }}-{{ pkg.release }}</td>
			<td>{{ pkg.description }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
