<h1>Packages</h1>

<table
	id="table-packages"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th data-field="name" data-sortable="true">Name</th>
			<th>Version</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
{%-for pkg in site.data.packages-%}
		<tr>
			<td><a href="{{ '/packages/' | append: pkg.name | relative_url }}">{{ pkg.name }}</a></td>
			<td>{{ pkg.version }}-{{ pkg.release }}</td>
			<td>{{ pkg.description }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
