---
layout: "default"
---
{%-assign pkgname = page.dir |split: '/' |last-%}
{%-assign package = site.data.packages |where: "name", pkgname |first-%}
{%-assign version = package.version |append:'-' |append:package.release-%}
{%-assign download = "https://github.com/archdroid-org/repo/releases/download/aarch64/"-%}
{%-assign sources = "https://github.com/archdroid-org/pkgbuilds/tree/master/"-%}
{%-comment-%}
	TODO: Use package.arch in the download URL above when possible
{%-endcomment-%}

<h1>{{ pkgname |append:' '|append:version }}</h1>

<table id="pkginfo">
	<tbody>
		<tr><th>Description:</th>   <td>{{ package.description }}</td></tr>
		<tr><th>Upstream URL:</th>  <td><a href="{{ package.url }}">{{ package.url }}</a></td></tr>
		<tr><th>License(s):</th>    <td>{{ package.license |join:', ' }}</td></tr>
{%-if package.replaces.size > 0-%}
		<tr><th>Provides:</th>      <td>{{ package.replaces |join:', ' }}</td></tr>
{%-endif-%}
{%-if package.conflicts.size > 0-%}
		<tr><th>Conflicts:</th>     <td>{{ package.conflicts |join:', ' }}</td></tr>
{%-endif-%}
		<tr><th>Installed Size:</th><td>{{ package.isize }}</td></tr>
		<tr><th>Build Date:</th>    <td>{{ package.builddate |split: 'T' |join: ' ' }} UTC</td></tr>
	</tbody>
</table>
<br/>
{%-comment-%}
{%-if package.depends.size > 0 or package.optdepends.size > 0 or package.repodepends.size > 0-%}
	{%- include archdroid/dependencies.liquid -%}
{%-endif-%}
{%-endcomment-%}

<a target="_blank" class="btn btn-dark" href="{{ sources   |
	append: package.name |}}">Sources</a>
<a class="btn btn-primary" href="{{ download   |
	append: package.name |append: '-' |
	append: version      |append: '-' |
	append: package.arch |append: '.pkg.tar.zst'}}">Download</a>
